@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

body {
    font-family: 'Cabin Sketch', sans-serif;
}

.header {
    text-align: center;
}

.title {
    font-size: 80px;
    margin-bottom: 30px;
}

.grid-count-btn {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 30px;
    background-color: white;
    border: none;
    margin-bottom: 30px;
}

.grid-count-btn:hover {
    font-size: 35px;
    margin-bottom: 30px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
    margin: 0 auto;
}

.row {
    flex-grow: 1;
    display: flex;
}

.grid-block {
    flex-grow: 1;
    border: 0.1px solid black;
}